# Ignore node modules
node_modules/

# Ignore build outputs
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env

c-c++/leetcode/leetcode-2.exe
c-c++/leetcode/leetcode-3.exe
c-c++/leetcode/leetcode-4.exe
c-c++/leetcode/leetcode-5.exe
c-c++/leetcode/leetcode-6.exe
c-c++/leetcode/leetcode-7.exe
c-c++/leetcode/leetcode-11.exe
c-c++/leetcode/leetcode-20.exe
c-c++/leetcode/leetcode-88.exe


c-c++/shujuku/DNode_test.exe
c-c++/shujuku/LNode_test.exe
c-c++/shujuku/SqList_test.exe
c-c++/shujuku/SqQueue_test.exe
c-c++/shujuku/SqStack_test.exe
c-c++/shujuku/Kmp_test.exe

c#/test2-Mvc/obj
c#/test2-Mvc/bin
c#/test2-Mvc/Migrations
c#/test2-Mvc/wwwroot
c#/test2-Mvc/obj/Debug/net8.0
